<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a href="index.html">Scaffold</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <app-navbar id="navbar" class="navbar order-last order-lg-0"></app-navbar>

    <app-socials></app-socials>

  </div>
</header><!-- End Header -->
