<section id="clients" class="clients">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Clients</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
        in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

      <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let client of this.func.clients">
        <div class="client-logo" data-aos="zoom-in">
          <img [attr.src]="client.clientImg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </div>
</section>