<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
        in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <ul id="portfolio-flters">
          <li *ngFor="let filter of this.func.filters; let i = index" [attr.data-filter]="filter.type"
            [class.filter-active]="i===0">{{filter.displayName}}</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div *ngFor="let portfolio of this.func.portfolios"
        [attr.class]="'col-lg-4 col-md-6 portfolio-item ' + portfolio.filter">
        <div class="portfolio-wrap">
          <img [src]="portfolio.portfolio_img" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{portfolio.title}}</h4>
            <p>{{portfolio.details}}</p>
          </div>
          <div class="portfolio-links">
            <a [href]="portfolio.portfolio_img" data-gallery="portfolioGallery" class="portfolio-lightbox"
              [title]="portfolio.title"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>