<!-- ======= Header ======= -->

<app-header>
</app-header>

<!-- ======= Hero Section ======= -->
<app-intro></app-intro>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <app-about-us></app-about-us>
  <!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <app-features></app-features>
  <!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <app-our-services></app-our-services>
  <!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <app-portfolio></app-portfolio>
  <!-- End Portfolio Section -->

  <!-- ======= Cta Section ======= -->
  <app-cta></app-cta>
  <!-- End Cta Section -->

  <!-- ======= Testimonials Section ======= -->
  <app-testimonials></app-testimonials>
  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <app-team></app-team>
  <!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <app-clients></app-clients>
  <!-- End Clients Section -->

  <!-- ======= Pricing Section ======= -->
  <app-pricing></app-pricing>
  <!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <app-faq></app-faq>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
