<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
        in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
        *ngFor="let service of this.func.services">
        <div [attr.class]="'icon-box ' + service.serviceColorClass">
          <div class="icon"><i [attr.class]="'icon-box ' + service.serviceIcon"></i></div>
          <h4 class="title"><a href="">{{service.serviceTitle}}</a></h4>
          <p class="description">{{service.serviceDescription}}</p>
        </div>
      </div>
    </div>

  </div>
</section>